@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-fonts {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Styles */
.display-flex {
  display: flex;
}

.bg-light {
  background-color: rgba(155, 144, 14, 0.1);
}

.text-primary {
  color: #FF900E;
}

.btn-primary {
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.25rem;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main>section {
  margin-top: 130px;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

/* dark 2 */
.text-gray {
  color: #424242;
}

/* dark 3 */
.text-light-gray {
  color: #727272;
}


/* header styles */

/* navbar releted styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
}

.navbar,
.bannar {
  max-width: 1440px;
  margin: 0 auto;
}

/* bannar Releted styles */
.bannar-contant {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.bannar-title {
  font-size: 4rem;
  font-weight: 700;
}

.bannar-img {
  width: 100%;
}

/* teams featurc Releted style */
.teams {
  align-items: center;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-featurs {
  margin-left: 130px;
  max-width: 530px;
}

#quick-lis {
  font-weight: 500;
}

/* features releted styles */

.features{
  gap: 100px;
}
#features-section-title {
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

.features-card,
.features-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.features-card {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}

/* fact card styles */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
}

.fact {
  width: 240px;
  height: 240px;
  border: 1px solid tomato;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fact-name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.fact-description {
  max-width: 540px;
}

/* sponsors releted styles */
.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-compaies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsor-compaies img {
  filter: grayscale(100%);
}

/* responsive media query */

/* Small Size Device */
@media screen and (max-width:576px) {

  .navbar,
  .nav-liks,
  .teams {
    flex-direction: column;
  }

  .teams-img-container,
  .facts-container,
  .sponsor-compaies {
    grid-template-columns: repeat(1, 1fr);
  }

  .our-featurs {
    margin-left: 20px;
  }

  .facts-container {
    justify-items: center;
  }

  .fact {
    margin-bottom: 10px;
  }

  .sponsor-compaies {
    justify-items: center;
    gap: 50px;
  }
}

/* Medium Size Device */
@media screen and (min-width:576px) and (max-width:990px) {

  .navbar,
  .teams {
    flex-direction: column;
  }

  .our-featurs {
    margin: 50px auto;
  }

  .facts-container,
  .sponsor-compaies {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
  }
}